/*** Works on common browsers ***/
::selection {
    background-color: #B1D500;
    color: #0080ff;
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color: #352e7e;
    color: #fff;
}

/***For Other Browsers ***/
::-o-selection {
    background-color: #352e7e;
    color: #fff;
}

::-ms-selection {
    background-color: #352e7e;
    color: #fff;
}

/*** For Webkit ***/
::-webkit-selection {
    background-color: #352e7e;
    color: #fff;
}

@font-face {
  font-family: "Lexend";
  src: url('fnt/Lexend-Medium.ttf');
}

@font-face {
  font-family: "DotGothic16";
  src: url('fnt/DotGothic16-Regular.ttf');
}

@font-face {
  font-family: "Inter";
  src: url('fnt/Inter-VariableFont_opsz,wght.ttf');
}

@font-face {
  font-family: "Doto";
  src: url('fnt/Doto-VariableFont_ROND,wght.ttf');
}

/*** Variables colores ***/
:root {
  --fondo: oklch(11.124% 0.02424 109.783);
  --blanco: #FEFFF0;
  --naranja: #FF7640;
  --verde: #B1D500;
}

html {
  font-family: 'Inter';
  background-color: var(--fondo);
  opacity: 1;
}

.wrapper
{
  height: 100%;
  font-family: 'Inter';
  display: flex;
  flex-flow: row nowrap;
}

.menu 
{
  width: 50%;
  height: 100%;
  overflow: hidden;
  background-color: #ff7700;
}

.content
{
  width: 50%;
  background-color: #0080ff;
  height: 100%;
}

@media (max-width: 800px) {
  .menu {
    display: none;
  }
}