
/*** Works on common browsers ***/
::selection {
    background-color: #352e7e;
    color: #ff0909;
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color: #352e7e;
    color: #fff;
}

/***For Other Browsers ***/
::-o-selection {
    background-color: #352e7e;
    color: #fff;
}

::-ms-selection {
    background-color: #352e7e;
    color: #fff;
}

/*** For Webkit ***/
::-webkit-selection {
    background-color: #352e7e;
    color: #fff;
}

@font-face {
  font-family: "Lexend";
  src: url('fnt/Lexend-Medium.ttf');
}

@font-face {
  font-family: "DotGothic16";
  src: url('fnt/DotGothic16-Regular.ttf');
}

@font-face {
  font-family: "Inter";
  src: url('fnt/Inter-VariableFont_opsz,wght.ttf');
}

@font-face {
  font-family: "Doto";
  src: url('fnt/Doto-VariableFont_ROND,wght.ttf');
}

@font-face {
  font-family: "Inter_SemiBold";
  src: url('fnt/Inter_18pt-SemiBold.ttf');
}
@font-face {
  font-family: "Inter_Medium";
  src: url('fnt/Inter_18pt-Medium.ttf');
}

/*** Variables colores ***/
:root {
  --fondo: #FEFFF0;
  --blanco: #FEFFF0;
  --naranja: #FF7640;
  --verde: #B1D500;
}

html {
  font-family: 'Inter';
  background-color: var(--fondo);
  opacity: 1;
}

.top {
  padding-left: 64px;
  padding-right: 64px;
  border-top: 24px;
  border-bottom: 24px;
}

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--fondo);
  margin: 0;
  position: relative;
}

.main{
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--fondo);
}

#main {
  width: 100%;
}

.about {
  width: 40vw;
  margin: 0 auto;
}

.about p {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 48px;
  font-weight: 600;
  font-family: "Doto";
  color: var(--naranja);
  text-align: center;
  scroll-margin-top: 10vmin;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #000000;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid #171717;
  background: transparent;
}

.btn:hover {
  background-color: var(--naranja);
  color: var(--fondo);
}

/*** Link buttons ***/

.link-ul {
  padding: 0;
}

.link-li {
  display: inline-block;
  list-style-type: none;
  margin: 0 20px;
  &:nth-child(1) button {
    background: #F3FFBD;
  }
  &:nth-child(2) button {
    background: #247BA0;
  }
  &:nth-child(3) button {
    background: #FF1654;
  }
  &:nth-child(4) button {
    background: #de83ec;
  }
}

.link-btn {
  position: relative;
  background: rebeccapurple;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 5px solid rgb(249, 220, 0);
  color: white;
  font-weight: bold;
  font-size: 40px;
  cursor: pointer;
  padding: 0;
  flex-wrap: wrap;
  list-style: none;
  align-self: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: var(--fondo);
}

.cards_item {
  display: flex;
  padding: 1rem;
  background-color: var(--fondo);
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: #0646dcd1;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(255, 125, 33, 0.124);
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left,  var(--fondo) 40%, rgb(59, 109, 6) 200%);
}

.card_title {
  color: #000000;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #000000;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}

.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}

:root {
  --c: 238, 199, 99;
  --t: 204, 204, 204;
}


.container {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  gap: 0.5rem;
}

.rectangle {
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(20px);
  box-shadow: 0 0 200px 5px rgb(var(--c), 1), 0 0 20px 1px rgb(var(--c), 0.3);
}

.rectangle:first-child {
  opacity: 1;
  transform: translateY(0);
  background-color: rgba(var(--c), 1);
}

.scroll:hover .rectangle:not(:first-child) {
  opacity: 1;
  transform: translateY(0);
}

.rectangle:nth-child(1) {
  width: 100px;
  height: 15px;
}
.rectangle:nth-child(2) {
  width: 70px;
  height: 12px;
  transition-delay: 0.05s;
  background-color: rgba(var(--c), 0.9);
}
.rectangle:nth-child(3) {
  width: 50px;
  height: 9px;
  transition-delay: 0.1s;
  background-color: rgba(var(--c), 0.8);
}
.rectangle:nth-child(4) {
  width: 40px;
  height: 7px;
  transition-delay: 0.15s;
  background-color: rgba(var(--c), 0.7);
}
.rectangle:nth-child(5) {
  width: 32px;
  height: 6px;
  transition-delay: 0.2s;
  background-color: rgba(var(--c), 0.6);
}
.rectangle:nth-child(6) {
  width: 28px;
  height: 5px;
  transition-delay: 0.25s;
  background-color: rgba(var(--c), 0.5);
}
.rectangle:nth-child(7) {
  width: 25px;
  height: 4px;
  transition-delay: 0.3s;
  background-color: rgba(var(--c), 0.4);
}
.rectangle:nth-child(8) {
  width: 22px;
  height: 3px;
  transition-delay: 0.35s;
  background-color: rgba(var(--c), 0.3);
}
.scroll:not(:hover) .rectangle:nth-child(2) {
  transition-delay: 0.35s;
}
.scroll:not(:hover) .rectangle:nth-child(3) {
  transition-delay: 0.3s;
}
.scroll:not(:hover) .rectangle:nth-child(4) {
  transition-delay: 0.25s;
}
.scroll:not(:hover) .rectangle:nth-child(5) {
  transition-delay: 0.2s;
}
.scroll:not(:hover) .rectangle:nth-child(6) {
  transition-delay: 0.15s;
}
.scroll:not(:hover) .rectangle:nth-child(7) {
  transition-delay: 0.05s;
}
.scroll:not(:hover) .rectangle:nth-child(8) {
  transition-delay: 0s;
}

.ruler {
  width: 2rem;
  height: 100%;
  position: absolute;
  left: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.lines {
  width: 5px;
  height: 100%;
  background-color: var(--naranja);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

.lines span {
  width: 1rem;
  background-color: var(--naranja);
  height: 5px;
  position: absolute;
}

.mask {
  position: fixed;
  height: 15%;
  width: 1rem;
  background-color: var(--fondo);
  z-index: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-family: Inter;
  font-weight: 600;
  color: var(--naranja);
}

.one {
  top: 0;
  border-width: 0 0 6px 0;
  border-color: var(--naranja);
  border-style: solid;
}

.two {
  bottom: 0;
  border-width: 6px 0 0 0;
  border-color: var(--naranja);
  border-style: solid;
}

.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    justify-content: center;
    align-items: flex-start;
    gap: 3vw;
    display: inline-flex;
    background-color: var(--fondo);
    z-index: 10;
}

.bar-element {
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: rgb(113, 188, 32);
    font-size: 4vmin;
    font-family: DotGothic16;
    word-wrap: break-word;
}

.bar-element a {
    color: rgb(255, 128, 0);
}

.lines span:nth-child(1) {
  top: 4%;
}

.lines span:nth-child(2) {
  top: 8%;
}

.lines span:nth-child(3) {
  top: 12%;
}

.lines span:nth-child(4) {
  top: 16%;
}

.lines span:nth-child(5) {
  top: 20%;
}

.lines span:nth-child(6) {
  top: 24%;
}

.lines span:nth-child(7) {
  top: 28%;
}

.lines span:nth-child(8) {
  top: 32%;
}

.lines span:nth-child(9) {
  top: 36%;
}

.lines span:nth-child(10) {
  top: 40%;
}

.lines span:nth-child(11) {
  top: 44%;
}

.lines span:nth-child(12) {
  top: 48%;
}

.lines span:nth-child(13) {
  top: 52%;
}

.lines span:nth-child(14) {
  top: 56%;
}

.lines span:nth-child(15) {
  top: 60%;
}

.lines span:nth-child(16) {
  top: 64%;
}

.lines span:nth-child(17) {
  top: 68%;
}

.lines span:nth-child(18) {
  top: 72%;
}

.lines span:nth-child(19) {
  top: 76%;
}

.lines span:nth-child(20) {
  top: 80%;
}

.lines span:nth-child(21) {
  top: 84%;
}

.lines span:nth-child(22) {
  top: 88%;
}

.lines span:nth-child(23) {
  top: 92%;
}

.lines span:nth-child(24) {
  top: 96%;
}

.lines span:nth-child(25) {
  top: 100%;
}

@media (max-width:600px) {
  .ruler {
    left: 3px;
  }

  .cards {
    margin-left: 15px;
    padding: 20px;
  }
}